body{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
}

a{
    color: #fff;
    text-decoration: none;
}
#First_Page{
    position: relative;
    width: clamp(300px,100%,100%);
    height: clamp(300px,100vh,755px);    
}

#nav-bar{
    position: relative;
    width: clamp(300px,100%,100%);
    height: clamp(30px,12vh,86px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font);
    color: #fff;
    z-index: 990;
}
.box_1_nav{
    width: clamp(400px,30%,100%);
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box_1_nav a{
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    margin: 1rem;
}
.box_2_nav{
    width: 35%;
    height: 100%;
    text-align: center;
    font-size: 1.5rem;
    /* border: 2px solid red; */
}
.box_2_nav h2{
    margin-bottom: auto;
}
.box_2_nav a{
    text-decoration: none;
    color: #fff;
}
.box_3_nav{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box_3_nav a{
    color: #000;
    text-decoration: none;
    font-size: 1.6rem;
}

/* Cover Start Here */

#Cover{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("Wallpaper/Cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
    font-family: var(--font);
}
#box_1_cover h1{
    cursor: pointer;
    position: relative;
    margin-left: 2rem;
    border-bottom: 2px solid #bbb;
}
#box_1_cover h1::before{
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f10000;
    transition: 0.3s;
}
#box_1_cover h1:hover::before{
    width: 100%;
}

#box_2_cover{
    justify-content: flex-end;
    font-size: 2.5rem;
}
#box_2_cover h1{
    cursor: pointer;
    margin-right: 2rem;
}

.Boxs_cover{
    display: flex;
    align-items: center;
    width: 50%;
    height: 23%;
    color: #fff;
    /* border: 2px solid red; */
}