#First_Page_3{
    position: relative;
    height: clamp(300px,131vh,990px);
    width: clamp(300px,100%,100%);
    background-color: #000;
    color: #fff;
    font-family: var(--font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container_Page3{
    width: clamp(300px,100%,1980px);
    height: clamp(300px,100%,987px);
}

#Page3_Headline{
margin-top: 3rem;
margin-left: 2rem;
}

#Page3_P{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 6rem;
    margin-left: 2rem;
}

#Btn_Page3{
    margin-left: 2rem;
    width: clamp(300px,23vw,353px);
    height: clamp(100px,16vh,122px);
    font-size: 3rem;
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    transition: 0.3s;
}
#Btn_Page3:hover{
    background-color: #fff;
    color: #000;
}