#First_Page_2{
    position: relative;
    height: clamp(500px,115vh,866px);
    width: clamp(300px,100%,100%);
    display: flex;
    justify-content: center;
    background-color: #000;
}

.box_1_page{
    width: clamp(500px,50%,100%);
    height: 100%;
    background-image: url("Wallpaper/L1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box_2_page{
    width: clamp(500px,50%,100%);
    height: 100%;
    background-image: url("Wallpaper/L2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}