#First_Page_4{
    position: relative;
    height: clamp(300px,130vh,981px);
    width: clamp(300px,100%,100%);
    background-color: #000;
    font-family: var(--font);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    overflow: auto;
    overflow: hidden;
}
#First_Page_4::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("Wallpaper/m1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    animation: Moving 55s both infinite;
}
@keyframes Moving {
    0%{
        transform: scale(2)
    }
    
}

.P4_Headline{
    font-size: 4rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

#Page_4_box{
    width: clamp(300px,33vw,506px);
    height: clamp(300px,67vh,506px);
    background-image: url(https://m.media-amazon.com/images/M/MV5BOTdkZGEzYmUtODIxYi00MTUyLTgxM2QtMGYwODcxYjMyMTg0XkEyXkFqcGdeQXVyMjAzMjcxNTE@._V1_.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

